/* styles.css */
.page-body {
    background-color: #fbf9fe; /* Light blue background for the page */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  /*  background-image:url('car.jpg');*/
}

.title {
    text-align: center;
    color: #5e2178; /* Dark gray for text */
    margin-top: 20px;
}

.navigation {
    text-align: center;
    margin: 10px 0;
}

.navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #1d0771;
}

.navigation a:hover {
    text-decoration: underline;
}

.registration-form-container {
    width: 300px;
    padding: 20px;
    background-color: #c0f9f9; /* White background for the form */
    border: 1px solid #ccc;
    color: #333; /* Dark gray text color */
    margin: 20px auto; /* Center it horizontally */
    margin-left: calc(50% - 200px); /* Slightly left from center */
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}
